* {
  margin: 0;
  padding: 0; }

/* SASS */
/* SASS */
/* HEADER */
#cont-header {
  height: 50px;
  width: 100%;
  background-color: #000000;
  margin: 0;
  padding: 0; }

#cont-logo__casa- {
  background-color: #202020;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  margin-left: 2%;
  margin-top: 0.3%; }

#foto-logo__casa- {
  margin-top: 10%;
  margin-left: 10%; }

/* HEADER */
/* MAIN */
#main {
  background-color: #202020;
  height: 700px;
  width: 100%;
  margin-left: 3%;
  margin: 0;
  padding: 0; }

#cont-titulo {
  margin-left: 2%;
  padding-top: 2%; }

#titulo {
  color: white;
  font-size: 90px;
  font-family: Arial, Helvetica, sans-serif; }

#formulario {
  color: white;
  margin-left: 2%;
  margin-top: 1%; }

#cont-inicieSesion {
  color: #FFFFFF; }

#cont-boton__continuar {
  margin-left: 32%;
  margin-top: 2%; }

#boton--continuar {
  background-color: #D9D9D9;
  color: black;
  height: 50px;
  width: 60%;
  margin-left: 0%;
  font-size: 25px;
  margin-top: 1%;
  border: none;
  transition: transform 0.5s ease; }

#boton-continuar:hover {
  transform: scale(1.2); }

.col-lg-2 {
  margin-top: 4%;
  margin-left: 1%; }

#boton-link__continuar {
  color: #000000; }

#boton-link__inicieSesion {
  color: #FFFFFF; }

#cont-gif-registro {
  height: 61%;
  width: 85%;
  background-color: white; }

#logo-timeMusic {
  height: 100%;
  width: 100%;
  padding-left: 8%;
  padding-right: 8%; }

/* MAIN */
#footer {
  background-color: #FFFFFF;
  height: 200px;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 15%; }

@media screen and (max-width: 1023px) {
  #cont-gif-registro {
    margin-top: 7%;
    margin-left: 26%;
    height: 60%;
    width: 40%; }
  #footer {
    margin-top: 50%; }
  #cont-boton__continuar {
    margin-left: 39%; } }

* {
  margin: 0;
  padding: 0; }

header {
  height: 100px;
  background-color: #1C1C1C;
  display: flex;
  width: 100%; }
  header #cont__cont-imgCasa {
    width: 10%; }
    header #cont__cont-imgCasa #cont-imgCasa {
      width: 65px;
      height: 65px;
      border-radius: 100%;
      background-color: #414141;
      margin: 10% 0 0 10%; }
      header #cont__cont-imgCasa #cont-imgCasa #imgCasa {
        margin: 18% 0 0  18.5%; }
  header #cont__cont-busqueda {
    width: 80%;
    display: flex;
    align-items: center; }
    header #cont__cont-busqueda #cont-busqueda {
      width: 30%;
      background-color: #414141;
      height: 50%;
      display: flex; }
      header #cont__cont-busqueda #cont-busqueda #lupa {
        margin-left: 4.2%;
        width: 16%; }
        header #cont__cont-busqueda #cont-busqueda #lupa img {
          margin-top: 15%;
          width: 35px;
          height: 35px; }
      header #cont__cont-busqueda #cont-busqueda #cont-buscar {
        width: 84%;
        background-color: #414141; }
  header #cont__cont-imgPersona {
    width: 10%; }
    header #cont__cont-imgPersona #cont-logoPersona {
      width: 60px;
      height: 60%;
      margin: 15% 0 0 10%; }
      header #cont__cont-imgPersona #cont-logoPersona .menu-container {
        position: relative;
        display: inline-block; }
        header #cont__cont-imgPersona #cont-logoPersona .menu-container .menu-checkbox {
          display: none; }
        header #cont__cont-imgPersona #cont-logoPersona .menu-container .menu-trigger {
          cursor: pointer;
          display: inline-block; }
        header #cont__cont-imgPersona #cont-logoPersona .menu-container .dropdown-menu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: #414141;
          border: 1px solid #ddd;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          padding: 10px;
          margin-left: -50px; }
          header #cont__cont-imgPersona #cont-logoPersona .menu-container .dropdown-menu ul {
            list-style: none;
            margin: 0;
            padding: 0; }
            header #cont__cont-imgPersona #cont-logoPersona .menu-container .dropdown-menu ul li {
              margin: 0;
              padding: 0.5rem 0; }
              header #cont__cont-imgPersona #cont-logoPersona .menu-container .dropdown-menu ul li a {
                color: white;
                text-decoration: none;
                font-size: 0.9rem;
                display: block;
                margin-left: 20%;
                width: 90px; }
                header #cont__cont-imgPersona #cont-logoPersona .menu-container .dropdown-menu ul li a:hover {
                  background-color: black;
                  border-radius: 4px; }
        header #cont__cont-imgPersona #cont-logoPersona .menu-container .menu-checkbox:checked + .menu-trigger + .dropdown-menu {
          display: block; }

/*MIXIN*/
/*Variables*/
footer {
  padding: 20px;
  position: relative;
  margin-top: 5% !important;
  background-color: white; }
  footer #primerafila {
    height: 200px;
    width: 100%;
    display: flex; }
    footer #primerafila #timemusic__contenedor {
      padding-top: 1.5% !important;
      margin-left: 2.5% !important; }
    footer #primerafila #redessociales {
      display: flex;
      padding-top: 0.6%;
      height: 34px;
      width: 30%;
      margin-left: -5% !important; }
      footer #primerafila #redessociales .imagenesredes {
        background-color: none;
        margin-left: 20% !important;
        margin-right: 20% !important; }
        footer #primerafila #redessociales .imagenesredes img {
          height: 38px;
          width: 38px; }
    footer #primerafila #imagenlogotime {
      padding-left: 75% !important;
      padding-top: 1%;
      height: 140px;
      width: 140px; }
      footer #primerafila #imagenlogotime img {
        height: 140px;
        width: 140px; }
  footer #segundafila {
    height: 80px;
    width: 100%;
    padding-left: 10% !important;
    display: flex;
    justify-content: center; }
    footer #segundafila .terminosycondiciones {
      height: 30px;
      width: 20%; }
  footer #tercerafila {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-self: center; }
    footer #tercerafila p {
      margin-top: 1%; }

body {
  background-color: #293752;
  margin: 0;
  padding: 0;
  padding-bottom: 150px; }
  body .secciones {
    width: 20%;
    height: calc(100vh);
    overflow-y: auto;
    background-color: #334664;
    color: white;
    position: fixed;
    top: 0; }
    body .secciones .card {
      position: relative;
      width: 250px;
      height: 120px;
      background: #191414;
      border-radius: 10px;
      padding: 10px; }
    body .secciones .top {
      position: relative;
      width: 100%;
      display: flex;
      gap: 10px; }
    body .secciones .pfp {
      position: relative;
      top: 5px;
      left: 5px;
      height: 40px;
      width: 40px;
      background-color: #d2d2d2;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center; }
    body .secciones .title-1 {
      color: white;
      font-size: 25px;
      font-weight: bolder; }
    body .secciones .title-2 {
      color: white;
      font-size: 12px;
      font-weight: bold; }
    body .secciones .time {
      width: 90%;
      background-color: #5e5e5e;
      height: 6px;
      border-radius: 3px;
      position: absolute;
      left: 5%;
      bottom: 22px; }
    body .secciones .elapsed {
      width: 42%;
      background-color: #1db954;
      height: 100%;
      border-radius: 3px; }
    body .secciones .controls {
      color: white;
      display: flex;
      position: absolute;
      bottom: 30px;
      left: 0;
      width: 100%;
      justify-content: center; }
    body .secciones .volume {
      height: 100%;
      width: 48px; }
    body .secciones .air {
      height: 100%;
      width: 48px; }
    body .secciones .controls svg {
      cursor: pointer;
      transition: 0.1s; }
    body .secciones .controls svg:hover {
      color: #1db954; }
    body .secciones .volume {
      opacity: 0;
      position: relative;
      transition: 0.2s; }
    body .secciones .volume .slider {
      height: 4px;
      background-color: #5e5e5e;
      width: 80%;
      border-radius: 2px;
      margin-top: 8px;
      margin-left: 10%; }
    body .secciones .volume .slider .green {
      background-color: #1db954;
      height: 100%;
      width: 80%;
      border-radius: 3px; }
    body .secciones .volume .circle {
      background-color: white;
      height: 6px;
      width: 6px;
      border-radius: 3px;
      position: absolute;
      right: 20%;
      top: 60%; }
    body .secciones .volume_button:hover ~ .volume {
      opacity: 1; }
    body .secciones .timetext {
      color: white;
      font-size: 8px;
      position: absolute; }
    body .secciones .time_now {
      bottom: 11px;
      left: 10px; }
    body .secciones .time_full {
      bottom: 11px;
      right: 10px; }
    body .secciones .playing {
      display: flex;
      position: relative;
      justify-content: center;
      gap: 1px;
      width: 30px;
      height: 20px; }
    body .secciones .greenline {
      background-color: #1db954;
      height: 20px;
      width: 2px;
      position: relative;
      transform-origin: bottom; }
    body .secciones .line-1 {
      animation: infinite playing 1s ease-in-out;
      animation-delay: 0.2s; }
    body .secciones .line-2 {
      animation: infinite playing 1s ease-in-out;
      animation-delay: 0.5s; }
    body .secciones .line-3 {
      animation: infinite playing 1s ease-in-out;
      animation-delay: 0.6s; }
    body .secciones .line-4 {
      animation: infinite playing 1s ease-in-out;
      animation-delay: 0s; }
    body .secciones .line-5 {
      animation: infinite playing 1s ease-in-out;
      animation-delay: 0.4s; }

@keyframes playing {
  0% {
    transform: scaleY(0.1); }
  33% {
    transform: scaleY(0.6); }
  66% {
    transform: scaleY(0.9); }
  100% {
    transform: scaleY(0.1); } }
    body .secciones .tituloChico {
      color: white;
      padding-top: 20px !important;
      padding-left: 10px !important;
      font-size: 25px;
      font-weight: 200; }
    body .secciones .lista {
      list-style-type: decimal;
      padding-left: 40px !important;
      font-size: 15px;
      color: gray; }
  body .meGustas {
    width: 100% !important;
    padding-left: 400px !important; }
    body .meGustas #titulo1 {
      color: white;
      padding-bottom: 20px !important; }
    body .meGustas .fotosMeGustas {
      position: relative;
      display: flex;
      border: 1px solid  #334664;
      background-color: #334664;
      margin-bottom: 70px !important;
      width: 80%;
      height: 230px; }
      body .meGustas .fotosMeGustas .ContLogo {
        position: absolute;
        width: 5%;
        height: 30px;
        bottom: 5px !important;
        left: 700px !important; }
        body .meGustas .fotosMeGustas .ContLogo .fotoLogo {
          width: 100%;
          height: 100%; }
      body .meGustas .fotosMeGustas .titulos {
        display: grid;
        height: 60px !important; }
        body .meGustas .fotosMeGustas .titulos .principal {
          color: white; }
        body .meGustas .fotosMeGustas .titulos .subtitulo {
          color: gray; }
      body .meGustas .fotosMeGustas .fotos {
        justify-content: left;
        padding: 10px !important;
        width: 30%;
        height: 100%; }
    body .meGustas #Cont-ver #ver-mas {
      margin-top: 10px;
      padding-left: 680px !important;
      color: white;
      text-decoration: underline;
      font-size: 20px; }
  body .Artistas {
    padding-left: 400px !important;
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; }
    body .Artistas .nombresAr {
      margin-bottom: 110px !important; }
    body .Artistas .tituloAr {
      color: white; }
    body .Artistas .oyentes {
      color: gray; }
    body .Artistas .artistas {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px; }
      body .Artistas .artistas .fotosAr {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        transition: transform 0.3s ease; }
        body .Artistas .artistas .fotosAr:hover {
          transform: scale(1.1); }
  body .carousel-container {
    display: flex;
    align-items: center;
    padding-bottom: 80px !important;
    position: relative;
    padding-left: 400px !important;
    padding-top: 40px !important;
    width: 100%;
    margin: auto;
    overflow: hidden; }
    body .carousel-container .carousel-track-container {
      overflow: hidden;
      width: 100%; }
    body .carousel-container .carousel-track {
      display: flex;
      transition: transform 0.5s ease-in-out; }
    body .carousel-container .carousel-slide {
      min-width: 25%;
      box-sizing: border-box; }
      body .carousel-container .carousel-slide img {
        padding-left: 20px !important;
        width: 100%;
        height: auto; }
    body .carousel-container .carousel-arrow {
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      color: white;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2; }
      body .carousel-container .carousel-arrow.prev {
        left: 360px; }
      body .carousel-container .carousel-arrow.next {
        right: 1px; }
      body .carousel-container .carousel-arrow:hover {
        background-color: rgba(0, 0, 0, 0.5); }
  body a {
    text-decoration: none; }
  body .ContAP {
    padding-top: 150px !important;
    padding-left: 400px !important;
    color: white; }
  body .segundaParte {
    padding-top: 80px !important;
    padding-right: 100px !important;
    align-items: end; }
  body .segundaPar {
    padding-top: 80px !important;
    flex-direction: column;
    gap: 20px;
    display: flex;
    align-items: end; }
    body .segundaPar .fotosAlb {
      border: 1px solid #334664;
      background-color: #334664;
      padding: 10px !important; }
      body .segundaPar .fotosAlb .nbrAl {
        color: white; }
      body .segundaPar .fotosAlb .tiemoAl {
        color: gray;
        font-size: 15px; }
      body .segundaPar .fotosAlb img {
        width: 250px;
        height: 250px; }

/* SASS */
/* SASS */
/* HEADER */
#cont-header {
  height: 50px;
  width: 100%;
  background-color: #000000; }

#cont-logo__casa {
  background-color: #202020;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-left: 2%;
  margin-top: 0.3%; }

#foto-logo__casa {
  margin-top: 10%;
  margin-left: 10%; }

/* HEADER */
/* MAIN */
#main {
  background-color: #202020;
  height: 700px;
  width: 100%;
  margin-left: 3%;
  margin: 0;
  padding: 0; }

#cont-titulo {
  margin-left: 1%;
  padding-top: 4%; }

#titulo {
  color: white;
  font-family: Arial, Helvetica, sans-serif; }

#formulario {
  color: white;
  margin-left: 2%;
  margin-top: 2%; }

#boton-continuar {
  background-color: #D9D9D9;
  color: black;
  height: 50px;
  width: 60%;
  margin-left: 0%;
  font-size: 25px;
  margin-top: 1%;
  border: none; }

.col-lg-2 {
  margin-top: 4%;
  margin-left: 1%; }

#boton-continuar {
  color: #000000;
  height: 52px;
  width: 33.8%;
  margin-left: 25%;
  margin-top: 3%; }

#cont-gif {
  height: 98%;
  width: 85%;
  background-color: white; }

#logo-timeMusic {
  height: 100%;
  width: 100%;
  padding-left: 8%;
  padding-right: 8%; }

@media screen and (max-width: 1023px) {
  #cont-gif {
    margin-top: 7%;
    margin-left: 25.5%;
    height: 60%;
    width: 40%; }
  #footer {
    margin-top: 50%; }
  #boton-continuar {
    margin-left: 37%; } }

* {
  margin: 0 !important;
  padding: 0 !important; }

body {
  background-color: #081925 !important;
  width: 100%; }
  body .banner {
    height: 500px !important;
    display: flex;
    justify-content: center;
    margin-top: 70px !important; }
    body .banner img {
      height: 500px;
      width: 500px; }
  body .titulo {
    margin-top: 70px !important;
    color: white; }
    body .titulo h1 {
      width: 40%;
      margin-left: 3% !important;
      font-size: 50px !important; }
  body .botones {
    width: 80%;
    height: 80px;
    margin-top: 50px !important;
    margin-left: 30px !important; }
    body .botones .logo-reproducir {
      display: flex;
      justify-content: center;
      border-left: solid 1px white;
      align-items: center; }
      body .botones .logo-reproducir img {
        height: 70px;
        width: 70px; }
    body .botones .logo-descargar {
      display: flex;
      justify-content: center;
      align-items: center; }
      body .botones .logo-descargar img {
        height: 70px;
        width: 70px; }
  body .cont-albumes {
    margin: 90px 0 0 3% !important;
    color: white;
    width: 97%; }
    body .cont-albumes h2 {
      font-size: 45px; }
  body .cont-foto-albumes {
    margin-top: 100px !important; }
    body .cont-foto-albumes .cont-img-abumes {
      width: 90%;
      height: 85%; }
      body .cont-foto-albumes .cont-img-abumes img {
        height: 100%;
        width: 100%; }
    body .cont-foto-albumes .cont-titulo-album {
      margin-top: 20px !important; }
      body .cont-foto-albumes .cont-titulo-album h3 {
        color: white; }
    body .cont-foto-albumes h4 {
      margin-top: 10px !important;
      color: #838383;
      font-size: 20px; }

.linea-activa img.linea {
  filter: brightness(0) saturate(100%) invert(34%) sepia(95%) saturate(581%) hue-rotate(84deg) brightness(92%) contrast(104%); }

.img-active {
  filter: brightness(0) saturate(100%) invert(34%) sepia(95%) saturate(581%) hue-rotate(84deg) brightness(92%) contrast(104%);
  transition: all 0.3s ease; }

#menu {
  height: 60px;
  width: 100%;
  display: flex; }
  #menu #cont-logo {
    height: 50px;
    width: 50px;
    background-color: white; }
    #menu #cont-logo #logo {
      height: 100%;
      width: 100%; }
  #menu #cont-buscador {
    display: flex; }
    #menu #cont-buscador #cont-casa {
      height: 40px;
      width: 40px; }
      #menu #cont-buscador #cont-casa #logo-casa {
        height: 100%;
        width: 100%; }
    #menu #cont-buscador #buscador {
      height: 40px;
      width: 300px;
      display: flex;
      align-items: center;
      gap: 10px; }
      #menu #cont-buscador #buscador #searchInput {
        height: 25px;
        width: 250px;
        background-color: #2c2f33;
        border: none;
        padding: 5px 10px;
        font-size: 16px;
        transition: border-color 0.3s ease; }
      #menu #cont-buscador #buscador #searchInput::placeholder {
        color: #888888; }
      #menu #cont-buscador #buscador #searchInput:focus {
        border-bottom-color: #00aaff; }
      #menu #cont-buscador #buscador button {
        background-color: #00aaff;
        border: none;
        color: white;
        padding: 6px 15px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease; }
      #menu #cont-buscador #buscador button:hover {
        background-color: #0088cc; }
  #menu #cont-persona {
    height: 50px;
    width: 50px; }
    #menu #cont-persona #persona {
      height: 100%;
      width: 100%; }

#fila-1 {
  margin-top: 2% !important; }
  #fila-1 .cont-cancion {
    display: flex;
    color: white;
    margin-left: -38% !important; }
    #fila-1 .cont-cancion .cont-img-cancion {
      height: 80px;
      width: 80px;
      margin-left: 0% !important;
      transition: transform 0.5s ease; }
      #fila-1 .cont-cancion .cont-img-cancion #img-quenospaso, #fila-1 .cont-cancion .cont-img-cancion #img-sola, #fila-1 .cont-cancion .cont-img-cancion #img-masricaqueayer, #fila-1 .cont-cancion .cont-img-cancion #img-shedont, #fila-1 .cont-cancion .cont-img-cancion #img-hipocrita, #fila-1 .cont-cancion .cont-img-cancion #img-bandolera, #fila-1 .cont-cancion .cont-img-cancion #img-tunoloamas, #fila-1 .cont-cancion .cont-img-cancion #img-moscowmule, #fila-1 .cont-cancion .cont-img-cancion #img-tarot, #fila-1 .cont-cancion .cont-img-cancion #img-titimepregunto, #fila-1 .cont-cancion .cont-img-cancion #img-efecto, #fila-1 .cont-cancion .cont-img-cancion #img-neverita {
        height: 100%;
        width: 100%; }
    #fila-1 .cont-cancion .cont-img-cancion:hover {
      transform: scale(1.3); }
    #fila-1 .cont-cancion .cont-titulo-cancion {
      margin-top: 3% !important;
      margin-left: 8% !important; }
      #fila-1 .cont-cancion .cont-titulo-cancion .titulo-cancion {
        margin-top: -7% !important; }
      #fila-1 .cont-cancion .cont-titulo-cancion .artista {
        height: 30px;
        width: 100%;
        margin-top: 9% !important;
        margin-left: 5% !important; }
  #fila-1 .cont-linea {
    height: 20px;
    width: 1400px;
    margin-top: 5% !important;
    margin-left: -38% !important; }
    #fila-1 .cont-linea .linea {
      height: 1px;
      width: 100%; }
  #fila-1 .cont-segundos {
    margin-top: 15% !important;
    margin-left: 55% !important;
    color: white; }

#cont-titulo__mg {
  height: 50px;
  width: 100%;
  color: white !important;
  display: flex !important;
  margin-top: 15% !important;
  margin-left: 5% !important;
  font-size: 40px !important; }
  #cont-titulo__mg #titulo__mg {
    font-size: 50px; }

#cont-iconos {
  height: 100%;
  width: 100%;
  display: flex;
  margin-left: 4% !important;
  margin-top: 25% !important; }

#cont-icono-play {
  height: 60px;
  width: 60px;
  border-left: solid 1px white; }

#icono-play {
  height: 100%;
  width: 100%;
  margin-left: 55% !important; }

#cont-icono-descargar {
  height: 60px;
  width: 60px;
  color: white;
  margin-left: 5% !important; }

#icono-descargar {
  height: 100%;
  width: 100%; }

* {
  margin: 0;
  padding: 0; }

#main {
  width: 97.5% !important;
  height: auto;
  background-color: #081925;
  margin-left: 2.5% !important; }
  #main #contenedor__titulo {
    background-color: #0B161C;
    align-self: center;
    height: 135px;
    display: flex;
    margin-left: -1% !important;
    margin-top: 2% !important; }
    #main #contenedor__titulo h1 {
      align-self: center;
      font-size: 65px;
      color: white;
      padding-left: 5% !important; }
  #main .contenedor__dealbumes {
    margin-top: 2% !important; }
    #main .contenedor__dealbumes .contenedor__album {
      margin-top: 2.5% !important;
      height: 300px;
      background-color: #0B161C;
      display: flex; }
      #main .contenedor__dealbumes .contenedor__album .contenedor__imagen {
        height: 245px;
        width: 245px;
        align-self: center;
        margin-left: 2% !important; }
        #main .contenedor__dealbumes .contenedor__album .contenedor__imagen img {
          height: 100%;
          width: 100%; }
        #main .contenedor__dealbumes .contenedor__album .contenedor__imagen img:hover {
          opacity: 90%; }
      #main .contenedor__dealbumes .contenedor__album .contenedor__infoodisea {
        display: block;
        width: 33%;
        margin-left: 2% !important;
        margin-top: 1% !important; }
        #main .contenedor__dealbumes .contenedor__album .contenedor__infoodisea .contenedor__tituloodisea h1 {
          font-size: 60px;
          color: white;
          font-weight: bold; }
        #main .contenedor__dealbumes .contenedor__album .contenedor__infoodisea .contenedor__cancionesinfo {
          margin-top: 1% !important;
          color: #7c7c7c; }
          #main .contenedor__dealbumes .contenedor__album .contenedor__infoodisea .contenedor__cancionesinfo h1 {
            font-weight: 400;
            font-size: 30px !important; }
        #main .contenedor__dealbumes .contenedor__album .contenedor__infoodisea .contenedor__oyentes {
          margin-top: 0.8% !important;
          color: #7c7c7c; }
          #main .contenedor__dealbumes .contenedor__album .contenedor__infoodisea .contenedor__oyentes h1 {
            font-weight: 400;
            font-size: 30px !important; }
        #main .contenedor__dealbumes .contenedor__album .contenedor__infoodisea .contenedor__oyentesnumero1 {
          display: flex;
          margin-top: 1.5% !important; }
          #main .contenedor__dealbumes .contenedor__album .contenedor__infoodisea .contenedor__oyentesnumero1 .imagten__contenedor__oyentesnumero1 {
            width: 55px;
            height: 55px; }
          #main .contenedor__dealbumes .contenedor__album .contenedor__infoodisea .contenedor__oyentesnumero1 h1 {
            margin-left: 2% !important;
            align-self: center;
            font-weight: bold;
            font-size: 35px !important;
            color: #7c7c7c; }
      #main .contenedor__dealbumes .contenedor__album .contenedor__infoartista {
        display: flex; }
        #main .contenedor__dealbumes .contenedor__album .contenedor__infoartista .imagenlineavertical {
          height: 250px;
          align-self: center; }
        #main .contenedor__dealbumes .contenedor__album .contenedor__infoartista .contenedor__imagentituloartista {
          display: block;
          align-self: center;
          margin-left: 10% !important; }
          #main .contenedor__dealbumes .contenedor__album .contenedor__infoartista .contenedor__imagentituloartista .contenedor__imagenartista {
            height: 185px;
            width: 185px;
            justify-items: center; }
            #main .contenedor__dealbumes .contenedor__album .contenedor__infoartista .contenedor__imagentituloartista .contenedor__imagenartista img {
              height: 100%;
              width: 100%; }
            #main .contenedor__dealbumes .contenedor__album .contenedor__infoartista .contenedor__imagentituloartista .contenedor__imagenartista img:hover {
              opacity: 90%; }
          #main .contenedor__dealbumes .contenedor__album .contenedor__infoartista .contenedor__imagentituloartista .contenedor__tituloartistas {
            color: white;
            justify-items: center; }
        #main .contenedor__dealbumes .contenedor__album .contenedor__infoartista .contenedor__infoartistadetalles {
          font-size: 20px;
          align-self: center;
          margin-top: -10% !important;
          color: #7c7c7c;
          margin-left: 8% !important; }
      #main .contenedor__dealbumes .contenedor__album .contenedor__imagenplay {
        display: flex;
        height: 60px;
        width: 60px;
        margin-top: 13% !important;
        margin-left: 11.5% !important; }
        #main .contenedor__dealbumes .contenedor__album .contenedor__imagenplay .imagenplayalbum {
          height: 100%;
          width: 100%; }

* {
  margin: 0 !important;
  padding: 0 !important; }

body {
  background-color: #293752 !important;
  margin: 0;
  padding: 0; }
  body .partesuperior {
    background-color: #4CB7F2;
    background: linear-gradient(to bottom, rgba(76, 183, 242, 0.5), rgba(76, 183, 242, 0)); }
    body .partesuperior #imagen {
      width: 50%;
      height: auto;
      padding: 20px !important; }
      body .partesuperior #imagen #imagen1 {
        border-radius: 10px;
        width: 100%; }
    body .partesuperior #titulo {
      width: 200%;
      padding-top: 70px !important; }
      body .partesuperior #titulo #titulo1 {
        font-size: 90px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
      body .partesuperior #titulo #info {
        font-size: 20px; }
  body .banner {
    height: 500px !important;
    display: flex;
    justify-content: center;
    margin-top: 70px !important; }
    body .banner img {
      height: 500px;
      width: 500px; }
  body .titulo {
    margin-top: 70px !important;
    color: white; }
    body .titulo h1 {
      width: 40%;
      margin-left: 3% !important;
      font-size: 50px !important; }
  body .botones {
    width: 80%;
    height: 80px;
    margin-top: 50px !important;
    margin-left: 30px !important; }
    body .botones .logo-reproducir {
      display: flex;
      justify-content: center;
      border-left: solid 1px white;
      align-items: center; }
      body .botones .logo-reproducir img {
        height: 70px;
        width: 70px; }
    body .botones .logo-descargar {
      display: flex;
      justify-content: center;
      align-items: center; }
      body .botones .logo-descargar img {
        height: 70px;
        width: 70px; }
  body .cont-albumes {
    margin: 90px 0 0 3% !important;
    color: white;
    width: 97%; }
    body .cont-albumes h2 {
      font-size: 45px; }
  body .cont-foto-albumes {
    margin-top: 100px !important; }
    body .cont-foto-albumes .cont-img-abumes {
      width: 90%;
      height: 85%; }
      body .cont-foto-albumes .cont-img-abumes img {
        height: 100%;
        width: 100%; }
    body .cont-foto-albumes .cont-titulo-album {
      margin-top: 20px !important; }
      body .cont-foto-albumes .cont-titulo-album h3 {
        color: white; }
    body .cont-foto-albumes h4 {
      margin-top: 10px !important;
      color: #838383;
      font-size: 20px; }
