* {
  margin: 0;
  padding: 0; }

/* SASS */
/* SASS */
/* HEADER */
#cont-header {
  height: 50px;
  width: 100%;
  background-color: #000000;
  margin: 0;
  padding: 0; }

#cont-logo__casa- {
  background-color: #202020;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  margin-left: 2%;
  margin-top: 0.3%; }

#foto-logo__casa- {
  margin-top: 10%;
  margin-left: 10%; }

/* HEADER */
/* MAIN */
#main {
  background-color: #202020;
  height: 700px;
  width: 100%;
  margin-left: 3%;
  margin: 0;
  padding: 0; }

#cont-titulo {
  margin-left: 2%;
  padding-top: 2%; }

#titulo {
  color: white;
  font-size: 90px;
  font-family: Arial, Helvetica, sans-serif; }

#formulario {
  color: white;
  margin-left: 2%;
  margin-top: 1%; }

#cont-inicieSesion {
  color: #FFFFFF; }

#cont-boton__continuar {
  margin-left: 32%;
  margin-top: 2%; }

#boton--continuar {
  background-color: #D9D9D9;
  color: black;
  height: 50px;
  width: 60%;
  margin-left: 0%;
  font-size: 25px;
  margin-top: 1%;
  border: none;
  transition: transform 0.5s ease; }

#boton-continuar:hover {
  transform: scale(1.2); }

.col-lg-2 {
  margin-top: 4%;
  margin-left: 1%; }

#boton-link__continuar {
  color: #000000; }

#boton-link__inicieSesion {
  color: #FFFFFF; }

#cont-gif-registro {
  height: 61%;
  width: 85%;
  background-color: white; }

#logo-timeMusic {
  height: 100%;
  width: 100%;
  padding-left: 8%;
  padding-right: 8%; }

/* MAIN */
#footer {
  background-color: #FFFFFF;
  height: 200px;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 15%; }

@media screen and (max-width: 1023px) {
  #cont-gif-registro {
    margin-top: 7%;
    margin-left: 26%;
    height: 60%;
    width: 40%; }
  #footer {
    margin-top: 50%; }
  #cont-boton__continuar {
    margin-left: 39%; } }

* {
  margin: 0;
  padding: 0; }

header {
  height: 100px;
  background-color: #1C1C1C;
  display: flex;
  width: 100%; }
  header #cont__cont-imgCasa {
    width: 10%; }
    header #cont__cont-imgCasa #cont-imgCasa {
      width: 65px;
      height: 65px;
      border-radius: 100%;
      background-color: #414141;
      margin: 10% 0 0 10%; }
      header #cont__cont-imgCasa #cont-imgCasa #imgCasa {
        margin: 18% 0 0  18.5%; }
  header #cont__cont-busqueda {
    width: 80%;
    display: flex;
    align-items: center; }
    header #cont__cont-busqueda #cont-busqueda {
      width: 30%;
      background-color: #414141;
      height: 50%;
      display: flex; }
      header #cont__cont-busqueda #cont-busqueda #lupa {
        margin-left: 4.2%;
        width: 16%; }
        header #cont__cont-busqueda #cont-busqueda #lupa img {
          margin-top: 15%;
          width: 35px;
          height: 35px; }
      header #cont__cont-busqueda #cont-busqueda #cont-buscar {
        width: 84%;
        background-color: #414141; }
  header #cont__cont-imgPersona {
    width: 10%; }
    header #cont__cont-imgPersona #cont-logoPersona {
      width: 60px;
      height: 60%;
      margin: 15% 0 0 10%; }
      header #cont__cont-imgPersona #cont-logoPersona .menu-container {
        position: relative;
        display: inline-block; }
        header #cont__cont-imgPersona #cont-logoPersona .menu-container .menu-checkbox {
          display: none; }
        header #cont__cont-imgPersona #cont-logoPersona .menu-container .menu-trigger {
          cursor: pointer;
          display: inline-block; }
        header #cont__cont-imgPersona #cont-logoPersona .menu-container .dropdown-menu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: #414141;
          border: 1px solid #ddd;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          padding: 10px;
          margin-left: -50px; }
          header #cont__cont-imgPersona #cont-logoPersona .menu-container .dropdown-menu ul {
            list-style: none;
            margin: 0;
            padding: 0; }
            header #cont__cont-imgPersona #cont-logoPersona .menu-container .dropdown-menu ul li {
              margin: 0;
              padding: 0.5rem 0; }
              header #cont__cont-imgPersona #cont-logoPersona .menu-container .dropdown-menu ul li a {
                color: white;
                text-decoration: none;
                font-size: 0.9rem;
                display: block;
                margin-left: 20%;
                width: 90px; }
                header #cont__cont-imgPersona #cont-logoPersona .menu-container .dropdown-menu ul li a:hover {
                  background-color: black;
                  border-radius: 4px; }
        header #cont__cont-imgPersona #cont-logoPersona .menu-container .menu-checkbox:checked + .menu-trigger + .dropdown-menu {
          display: block; }

/*MIXIN*/
/*Variables*/
footer {
  margin-top: 5%;
  background-color: white; }
  footer #primerafila {
    height: 200px;
    width: 100%;
    display: flex; }
    footer #primerafila #timemusic__contenedor {
      padding-top: 1.5%;
      margin-left: 2.5%; }
    footer #primerafila #redessociales {
      display: flex;
      padding-top: 0.6%;
      height: 34px;
      width: 30%;
      margin-left: -5%; }
      footer #primerafila #redessociales .imagenesredes {
        background-color: none;
        margin-left: 20%;
        margin-right: 20%; }
        footer #primerafila #redessociales .imagenesredes img {
          height: 38px;
          width: 38px; }
    footer #primerafila #imagenlogotime {
      padding-left: 70%;
      padding-top: 1%;
      height: 140px;
      width: 140px; }
      footer #primerafila #imagenlogotime img {
        height: 140px;
        width: 140px; }
  footer #segundafila {
    height: 80px;
    width: 100%;
    padding-left: 10%;
    display: flex;
    justify-content: center; }
    footer #segundafila .terminosycondiciones {
      height: 30px;
      width: 20%; }
  footer #tercerafila {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-self: center; }
    footer #tercerafila p {
      margin-top: 1%; }

body {
  background-color: #202020;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }
  body .secciones {
    width: 20%;
    height: calc(100vh);
    overflow-y: auto;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    /* From Uiverse.io by csozidev */
    /* Spotify music card made by: csozi | Website: www.csozi.hu*/ }
    body .secciones .card {
      position: relative;
      width: 250px;
      height: 120px;
      background: #191414;
      border-radius: 10px;
      padding: 10px; }
    body .secciones .top {
      position: relative;
      width: 100%;
      display: flex;
      gap: 10px; }
    body .secciones .pfp {
      position: relative;
      top: 5px;
      left: 5px;
      height: 40px;
      width: 40px;
      background-color: #d2d2d2;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center; }
    body .secciones .title-1 {
      color: white;
      font-size: 25px;
      font-weight: bolder; }
    body .secciones .title-2 {
      color: white;
      font-size: 12px;
      font-weight: bold; }
    body .secciones .time {
      width: 90%;
      background-color: #5e5e5e;
      height: 6px;
      border-radius: 3px;
      position: absolute;
      left: 5%;
      bottom: 22px; }
    body .secciones .elapsed {
      width: 42%;
      background-color: #1db954;
      height: 100%;
      border-radius: 3px; }
    body .secciones .controls {
      color: white;
      display: flex;
      position: absolute;
      bottom: 30px;
      left: 0;
      width: 100%;
      justify-content: center; }
    body .secciones .volume {
      height: 100%;
      width: 48px; }
    body .secciones .air {
      height: 100%;
      width: 48px; }
    body .secciones .controls svg {
      cursor: pointer;
      transition: 0.1s; }
    body .secciones .controls svg:hover {
      color: #1db954; }
    body .secciones .volume {
      opacity: 0;
      position: relative;
      transition: 0.2s; }
    body .secciones .volume .slider {
      height: 4px;
      background-color: #5e5e5e;
      width: 80%;
      border-radius: 2px;
      margin-top: 8px;
      margin-left: 10%; }
    body .secciones .volume .slider .green {
      background-color: #1db954;
      height: 100%;
      width: 80%;
      border-radius: 3px; }
    body .secciones .volume .circle {
      background-color: white;
      height: 6px;
      width: 6px;
      border-radius: 3px;
      position: absolute;
      right: 20%;
      top: 60%; }
    body .secciones .volume_button:hover ~ .volume {
      opacity: 1; }
    body .secciones .timetext {
      color: white;
      font-size: 8px;
      position: absolute; }
    body .secciones .time_now {
      bottom: 11px;
      left: 10px; }
    body .secciones .time_full {
      bottom: 11px;
      right: 10px; }
    body .secciones .playing {
      display: flex;
      position: relative;
      justify-content: center;
      gap: 1px;
      width: 30px;
      height: 20px; }
    body .secciones .greenline {
      background-color: #1db954;
      height: 20px;
      width: 2px;
      position: relative;
      transform-origin: bottom; }
    body .secciones .line-1 {
      animation: infinite playing 1s ease-in-out;
      animation-delay: 0.2s; }
    body .secciones .line-2 {
      animation: infinite playing 1s ease-in-out;
      animation-delay: 0.5s; }
    body .secciones .line-3 {
      animation: infinite playing 1s ease-in-out;
      animation-delay: 0.6s; }
    body .secciones .line-4 {
      animation: infinite playing 1s ease-in-out;
      animation-delay: 0s; }
    body .secciones .line-5 {
      animation: infinite playing 1s ease-in-out;
      animation-delay: 0.4s; }

@keyframes playing {
  0% {
    transform: scaleY(0.1); }
  33% {
    transform: scaleY(0.6); }
  66% {
    transform: scaleY(0.9); }
  100% {
    transform: scaleY(0.1); } }
  body .meGustas {
    width: 100% !important;
    padding-left: 500px !important; }
    body .meGustas .fotosMeGustas {
      border: 1px solid white;
      margin-bottom: 40px !important;
      width: 90%;
      padding: 50px;
      height: 200px; }
      body .meGustas .fotosMeGustas .fotos {
        width: 20%;
        height: 100%; }
    body .meGustas .ContVer .ver-mas {
      margin-top: 10px;
      padding-left: 730px !important;
      color: white;
      text-decoration: underline;
      font-size: 20px; }
  body .popular {
    width: 100%; }

/* SASS */
/* SASS */
/* HEADER */
#cont-header {
  height: 50px;
  width: 100%;
  background-color: #000000; }

#cont-logo__casa {
  background-color: #202020;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-left: 2%;
  margin-top: 0.3%; }

#foto-logo__casa {
  margin-top: 10%;
  margin-left: 10%; }

/* HEADER */
/* MAIN */
#main {
  background-color: #202020;
  height: 700px;
  width: 100%;
  margin-left: 3%;
  margin: 0;
  padding: 0; }

#cont-titulo {
  margin-left: 1%;
  padding-top: 4%; }

#titulo {
  color: white;
  font-family: Arial, Helvetica, sans-serif; }

#formulario {
  color: white;
  margin-left: 2%;
  margin-top: 2%; }

#boton-continuar {
  background-color: #D9D9D9;
  color: black;
  height: 50px;
  width: 60%;
  margin-left: 0%;
  font-size: 25px;
  margin-top: 1%;
  border: none; }

.col-lg-2 {
  margin-top: 4%;
  margin-left: 1%; }

#boton-continuar {
  color: #000000;
  height: 52px;
  width: 33.8%;
  margin-left: 25%;
  margin-top: 3%; }

#cont-gif {
  height: 98%;
  width: 85%;
  background-color: white; }

#logo-timeMusic {
  height: 100%;
  width: 100%;
  padding-left: 8%;
  padding-right: 8%; }

@media screen and (max-width: 1023px) {
  #cont-gif {
    margin-top: 7%;
    margin-left: 25.5%;
    height: 60%;
    width: 40%; }
  #footer {
    margin-top: 50%; }
  #boton-continuar {
    margin-left: 37%; } }

* {
  margin: 0 !important;
  padding: 0 !important; }

body {
  background-color: #081925 !important;
  width: 100%; }
  body .banner {
    height: 400px !important;
    display: flex;
    justify-content: center;
    margin-top: 70px !important; }
    body .banner img {
      height: 370px;
      width: 19.3%; }
  body .titulo {
    margin-top: 70px !important;
    color: white; }
    body .titulo h1 {
      width: 40%;
      margin-left: 3% !important; }
  body .botones {
    width: 80%;
    height: 80px;
    margin-top: 50px !important;
    margin-left: 30px !important; }
    body .botones .logo-reproducir {
      display: flex;
      justify-content: center;
      border-left: solid 1px white;
      align-items: center; }
      body .botones .logo-reproducir img {
        height: 70px;
        width: 70px; }
    body .botones .logo-descargar {
      display: flex;
      justify-content: center;
      align-items: center; }
      body .botones .logo-descargar img {
        height: 70px;
        width: 70px; }
  body main {
    margin-top: 50px !important;
    margin-left: 3% !important; }
    body main .canciones {
      margin-top: 50px !important; }
      body main .canciones .rhlm-foto {
        height: 120px;
        width: 120px; }
      body main .canciones .cont-tituloCancion {
        width: 20%;
        margin-top: 5px !important;
        margin-left: 50px !important; }
        body main .canciones .cont-tituloCancion h2 {
          color: white; }
      body main .canciones .cont-tiempo {
        display: flex;
        align-items: center;
        margin-left: 1200px !important; }
        body main .canciones .cont-tiempo h5 {
          color: #838383; }
