* {
  margin: 0;
  padding: 0; }

/* SASS */
/* SASS */
/* HEADER */
#cont-header {
  height: 50px;
  width: 100%;
  background-color: #000000;
  margin: 0;
  padding: 0; }

#cont-logo__casa- {
  background-color: #202020;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  margin-left: 2%;
  margin-top: 0.3%; }

#foto-logo__casa- {
  margin-top: 10%;
  margin-left: 10%; }

/* HEADER */
/* MAIN */
#main {
  background-color: #202020;
  height: 700px;
  width: 100%;
  margin-left: 3%;
  margin: 0;
  padding: 0; }

#cont-titulo {
  margin-left: 2%;
  padding-top: 2%; }

#titulo {
  color: white;
  font-size: 90px;
  font-family: Arial, Helvetica, sans-serif; }

#formulario {
  color: white;
  margin-left: 2%;
  margin-top: 1%; }

#cont-inicieSesion {
  color: #FFFFFF; }

#cont-boton__continuar {
  margin-left: 32%;
  margin-top: 2%; }

#boton--continuar {
  background-color: #D9D9D9;
  color: black;
  height: 50px;
  width: 60%;
  margin-left: 0%;
  font-size: 25px;
  margin-top: 1%;
  border: none;
  transition: transform 0.5s ease; }

#boton-continuar:hover {
  transform: scale(1.2); }

.col-lg-2 {
  margin-top: 4%;
  margin-left: 1%; }

#boton-link__continuar {
  color: #000000; }

#boton-link__inicieSesion {
  color: #FFFFFF; }

#cont-gif-registro {
  height: 61%;
  width: 85%;
  background-color: white; }

#logo-timeMusic {
  height: 100%;
  width: 100%;
  padding-left: 8%;
  padding-right: 8%; }

/* MAIN */
#footer {
  background-color: #FFFFFF;
  height: 200px;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 15%; }

@media screen and (max-width: 1023px) {
  #cont-gif-registro {
    margin-top: 7%;
    margin-left: 26%;
    height: 60%;
    width: 40%; }
  #footer {
    margin-top: 50%; }
  #cont-boton__continuar {
    margin-left: 39%; } }

* {
  margin: 0;
  padding: 0; }

header {
  height: 100px;
  background-color: #1C1C1C;
  display: flex;
  width: 100%; }
  header #cont__cont-imgCasa {
    width: 10%; }
    header #cont__cont-imgCasa #cont-imgCasa {
      width: 65px;
      height: 65px;
      border-radius: 100%;
      background-color: #414141;
      margin: 10% 0 0 10%; }
      header #cont__cont-imgCasa #cont-imgCasa #imgCasa {
        margin: 18% 0 0  18.5%; }
  header #cont__cont-busqueda {
    width: 80%;
    display: flex;
    align-items: center; }
    header #cont__cont-busqueda #cont-busqueda {
      width: 30%;
      background-color: #414141;
      height: 50%;
      display: flex; }
      header #cont__cont-busqueda #cont-busqueda #lupa {
        margin-left: 4.2%;
        width: 16%; }
        header #cont__cont-busqueda #cont-busqueda #lupa img {
          margin-top: 15%;
          width: 35px;
          height: 35px; }
      header #cont__cont-busqueda #cont-busqueda #cont-buscar {
        width: 84%;
        background-color: #414141; }
  header #cont__cont-imgPersona {
    width: 10%; }
    header #cont__cont-imgPersona #cont-logoPersona {
      width: 60px;
      height: 60%;
      margin: 15% 0 0 10%; }
      header #cont__cont-imgPersona #cont-logoPersona .menu-container {
        position: relative;
        display: inline-block; }
        header #cont__cont-imgPersona #cont-logoPersona .menu-container .menu-checkbox {
          display: none; }
        header #cont__cont-imgPersona #cont-logoPersona .menu-container .menu-trigger {
          cursor: pointer;
          display: inline-block; }
        header #cont__cont-imgPersona #cont-logoPersona .menu-container .dropdown-menu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: #414141;
          border: 1px solid #ddd;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          padding: 10px;
          margin-left: -50px; }
          header #cont__cont-imgPersona #cont-logoPersona .menu-container .dropdown-menu ul {
            list-style: none;
            margin: 0;
            padding: 0; }
            header #cont__cont-imgPersona #cont-logoPersona .menu-container .dropdown-menu ul li {
              margin: 0;
              padding: 0.5rem 0; }
              header #cont__cont-imgPersona #cont-logoPersona .menu-container .dropdown-menu ul li a {
                color: white;
                text-decoration: none;
                font-size: 0.9rem;
                display: block;
                margin-left: 20%;
                width: 90px; }
                header #cont__cont-imgPersona #cont-logoPersona .menu-container .dropdown-menu ul li a:hover {
                  background-color: black;
                  border-radius: 4px; }
        header #cont__cont-imgPersona #cont-logoPersona .menu-container .menu-checkbox:checked + .menu-trigger + .dropdown-menu {
          display: block; }

/*MIXIN*/
/*Variables*/
footer {
  margin-top: 5% !important;
  background-color: white; }
  footer #primerafila {
    height: 200px;
    width: 100%;
    display: flex; }
    footer #primerafila #timemusic__contenedor {
      padding-top: 1.5% !important;
      margin-left: 2.5% !important; }
    footer #primerafila #redessociales {
      display: flex;
      padding-top: 0.6%;
      height: 34px;
      width: 30%;
      margin-left: -5% !important; }
      footer #primerafila #redessociales .imagenesredes {
        background-color: none;
        margin-left: 20% !important;
        margin-right: 20% !important; }
        footer #primerafila #redessociales .imagenesredes img {
          height: 38px;
          width: 38px; }
    footer #primerafila #imagenlogotime {
      padding-left: 75% !important;
      padding-top: 1%;
      height: 140px;
      width: 140px; }
      footer #primerafila #imagenlogotime img {
        height: 140px;
        width: 140px; }
  footer #segundafila {
    height: 80px;
    width: 100%;
    padding-left: 10%;
    display: flex;
    justify-content: center; }
    footer #segundafila .terminosycondiciones {
      height: 30px;
      width: 20%; }
  footer #tercerafila {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-self: center; }
    footer #tercerafila p {
      margin-top: 1%; }

body {
  background-color: #202020;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }
  body .secciones {
    width: 20%;
    height: calc(100vh);
    overflow-y: auto;
    background-color: black;
    color: white;
    position: fixed;
    top: 0; }
  body .meGustas {
    width: 100% !important;
    padding-left: 500px !important; }
    body .meGustas #tituloMG {
      color: white; }
    body .meGustas .fotosMeGustas {
      border: 1px solid white;
      margin-bottom: 40px !important;
      width: 90%;
      padding: 60px;
      height: 150px; }
      body .meGustas .fotosMeGustas .fotos {
        padding: 10px;
        width: 20%;
        height: 100%; }
    body .meGustas .ContVer .ver-mas {
      margin-top: 10px;
      padding-left: 730px !important;
      color: white;
      text-decoration: underline;
      font-size: 20px; }
  body .Artistas {
    padding-left: 400px !important;
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; }
    body .Artistas #tituloAr {
      color: white; }
    body .Artistas .artistas {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px; }
      body .Artistas .artistas .fotosAr {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover; }

/* SASS */
/* SASS */
/* HEADER */
#cont-header {
  height: 50px;
  width: 100%;
  background-color: #000000; }

#cont-logo__casa {
  background-color: #202020;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-left: 2%;
  margin-top: 0.3%; }

#foto-logo__casa {
  margin-top: 10%;
  margin-left: 10%; }

/* HEADER */
/* MAIN */
#main {
  background-color: #202020;
  height: 700px;
  width: 100%;
  margin-left: 3%;
  margin: 0;
  padding: 0; }

#cont-titulo {
  margin-left: 1%;
  padding-top: 4%; }

#titulo {
  color: white;
  font-family: Arial, Helvetica, sans-serif; }

#formulario {
  color: white;
  margin-left: 2%;
  margin-top: 2%; }

#boton-continuar {
  background-color: #D9D9D9;
  color: black;
  height: 50px;
  width: 60%;
  margin-left: 0%;
  font-size: 25px;
  margin-top: 1%;
  border: none; }

.col-lg-2 {
  margin-top: 4%;
  margin-left: 1%; }

#boton-continuar {
  color: #000000;
  height: 52px;
  width: 33.8%;
  margin-left: 25%;
  margin-top: 3%; }

#cont-gif {
  height: 98%;
  width: 85%;
  background-color: white; }

#logo-timeMusic {
  height: 100%;
  width: 100%;
  padding-left: 8%;
  padding-right: 8%; }

@media screen and (max-width: 1023px) {
  #cont-gif {
    margin-top: 7%;
    margin-left: 25.5%;
    height: 60%;
    width: 40%; }
  #footer {
    margin-top: 50%; }
  #boton-continuar {
    margin-left: 37%; } }

* {
  margin: 0 !important;
  padding: 0 !important; }

body {
  background-color: #081925 !important;
  width: 100%; }
  body .banner {
    height: 500px !important;
    display: flex;
    justify-content: center;
    margin-top: 70px !important; }
    body .banner img {
      height: 500px;
      width: 500px; }
  body .titulo {
    margin-top: 70px !important;
    color: white; }
    body .titulo h1 {
      width: 40%;
      margin-left: 3% !important;
      font-size: 50px !important; }
  body .botones {
    width: 80%;
    height: 80px;
    margin-top: 50px !important;
    margin-left: 30px !important; }
    body .botones .logo-reproducir {
      display: flex;
      justify-content: center;
      border-left: solid 1px white;
      align-items: center; }
      body .botones .logo-reproducir img {
        height: 70px;
        width: 70px; }
    body .botones .logo-descargar {
      display: flex;
      justify-content: center;
      align-items: center; }
      body .botones .logo-descargar img {
        height: 70px;
        width: 70px; }
  body main {
    margin-top: 50px !important;
    margin-left: 3% !important; }
    body main .canciones {
      margin-top: 50px !important;
      height: 130px; }
      body main .canciones .rhlm-foto {
        height: 40%;
        width: 100%; }
      body main .canciones .cont-tituloCancion {
        width: 20%;
        margin-top: 5px !important;
        margin-left: 50px !important; }
        body main .canciones .cont-tituloCancion h4 {
          color: white; }
      body main .canciones .cont-tiempo {
        display: flex;
        align-items: center;
        margin-left: 62% !important; }
        body main .canciones .cont-tiempo h5 {
          color: #838383; }
  body .cont-albumes {
    margin: 90px 0 0 3% !important;
    color: white;
    width: 97%; }
    body .cont-albumes h2 {
      font-size: 50px; }
  body .cont-foto-albumes {
    margin-top: 100px !important; }
    body .cont-foto-albumes .cont-img-abumes {
      width: 90%;
      height: 85%; }
      body .cont-foto-albumes .cont-img-abumes img {
        width: 100%;
        height: 100%; }
    body .cont-foto-albumes .cont-titulo-album {
      margin-top: 20px !important; }
      body .cont-foto-albumes .cont-titulo-album h3 {
        color: white; }
    body .cont-foto-albumes h4 {
      margin-top: 10px !important;
      color: #838383; }

.img-active {
  filter: brightness(100%) saturate(0%) invert(39%) sepia(93%) saturate(319%) hue-rotate(94deg) brightness(92%) contrast(90%);
  transition: all 0.3s ease; }

#buscador {
  height: 40px;
  width: 300px;
  display: flex;
  align-items: center;
  gap: 10px; }

#searchInput {
  height: 25px;
  width: 250px;
  background-color: #2c2f33;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  transition: border-color 0.3s ease; }

#searchInput::placeholder {
  color: #888888; }

#searchInput:focus {
  border-bottom-color: #00aaff; }

button {
  background-color: #00aaff;
  border: none;
  color: white;
  padding: 6px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease; }

button:hover {
  background-color: #0088cc; }

#menu {
  height: 60px;
  width: 100%;
  display: flex; }

#cont-logo {
  height: 50px;
  width: 50px;
  background-color: white; }

#logo {
  height: 100%;
  width: 100%; }

#cont-persona {
  height: 50px;
  width: 50px; }

#persona {
  height: 100%;
  width: 100%; }

#pr {
  display: flex; }

#cont-casa {
  height: 40px;
  width: 40px; }

#logo-casa {
  height: 100%;
  width: 100%; }

#buscador {
  justify-content: center;
  align-items: center; }

#cont-titulo__mg {
  height: 50px;
  width: 100%;
  color: white;
  display: flex;
  margin-top: 15% !important;
  margin-left: 5% !important;
  font-size: 40px; }

#titulo__mg {
  font-size: 50px; }

#cont-iconos {
  height: 100%;
  width: 100%;
  display: flex;
  margin-left: 12% !important;
  margin-top: 25% !important; }

#cont-icono-play {
  height: 40px;
  width: 40px; }

#icono-play {
  height: 100%;
  width: 100%; }

#cont-icono-descargar {
  height: 40px;
  width: 40px;
  color: white; }

#icono-descargar {
  height: 100%;
  width: 100%; }

#fila-1 {
  margin-top: 2% !important; }

.cont-cancion {
  display: flex;
  color: white;
  margin-left: -38% !important; }

.cont-img-cancion {
  height: 80px;
  width: 80px;
  margin-left: 0% !important;
  transition: transform 0.5s ease; }

.cont-img-cancion:hover {
  transform: scale(1.3); }

.cont-titulo-cancion {
  margin-top: 3% !important;
  margin-left: 8% !important; }

.musica {
  height: 29px;
  width: 109px;
  margin-top: 29% !important;
  margin-left: -110% !important; }

#seekBar {
  height: 40px;
  width: 200px; }

.titulo-cancion {
  margin-top: -7% !important; }

.artista {
  height: 30px;
  width: 100%;
  margin-top: 9% !important;
  margin-left: 5% !important; }

#img-quenospaso, #img-sola, #img-masricaqueayer, #img-shedont, #img-hipocrita, #img-bandolera, #img-tunoloamas, #img-moscowmule, #img-tarot, #img-titimepregunto, #img-efecto, #img-neverita {
  height: 100%;
  width: 100%; }

.cont-linea {
  height: 20px;
  width: 1400px;
  margin-top: 5% !important;
  margin-left: -38% !important; }

.linea {
  height: 1px;
  width: 100%; }

.cont-segundos {
  margin-top: 15% !important;
  margin-left: 55% !important;
  color: white; }

* {
  margin: 0;
  padding: 0; }

#main {
  height: auto;
  background-color: #081925; }
  #main #contenedor__titulo {
    background-color: #0B161C;
    align-self: center;
    height: 135px;
    display: flex; }
    #main #contenedor__titulo h1 {
      align-self: center;
      font-size: 65px;
      color: white;
      padding-left: 5% !important; }
  #main #contenedor__dealbumes {
    margin-top: 2.5% !important;
    margin-left: 2.5% !important; }
    #main #contenedor__dealbumes .contenedor__album {
      margin-top: 2.5% !important;
      height: 300px;
      background-color: #0B161C;
      display: flex; }
      #main #contenedor__dealbumes .contenedor__album #contenedor__imagen {
        height: 245px;
        width: 245px;
        align-self: center;
        margin-left: 2% !important; }
        #main #contenedor__dealbumes .contenedor__album #contenedor__imagen img {
          height: 100%;
          width: 100%; }
      #main #contenedor__dealbumes .contenedor__album #contenedor__infoodisea {
        display: block;
        width: 40%;
        margin-left: 2% !important;
        margin-top: 1% !important; }
        #main #contenedor__dealbumes .contenedor__album #contenedor__infoodisea #contenedor__tituloodisea h1 {
          font-size: 60px;
          color: white;
          font-weight: bold; }
        #main #contenedor__dealbumes .contenedor__album #contenedor__infoodisea #contenedor__cancionesinfo {
          margin-top: 1% !important;
          color: #616060; }
          #main #contenedor__dealbumes .contenedor__album #contenedor__infoodisea #contenedor__cancionesinfo h1 {
            font-weight: 400;
            font-size: 30px !important; }
        #main #contenedor__dealbumes .contenedor__album #contenedor__infoodisea #contenedor__oyentes {
          margin-top: 0.8% !important;
          color: #616060; }
          #main #contenedor__dealbumes .contenedor__album #contenedor__infoodisea #contenedor__oyentes h1 {
            font-weight: 400;
            font-size: 30px !important; }
        #main #contenedor__dealbumes .contenedor__album #contenedor__infoodisea #contenedor__oyentesnumero1 {
          display: flex;
          margin-top: 1.5% !important; }
          #main #contenedor__dealbumes .contenedor__album #contenedor__infoodisea #contenedor__oyentesnumero1 img {
            width: 55px;
            height: 55px; }
          #main #contenedor__dealbumes .contenedor__album #contenedor__infoodisea #contenedor__oyentesnumero1 h1 {
            margin-left: 2% !important;
            align-self: center;
            font-weight: bold;
            font-size: 35px !important;
            color: #616060; }
