*{
    margin: 0;
    padding: 0;
}

@mixin medidasFotos($ancho, $alto){
    height: $alto;
    width: $ancho;
}




$colorfondomain: #081925;
$colorfondotitulo: #0B161C;
$colorletras100: white;
$colorletras50: rgb(124, 124, 124);


#main{
    width: 97.5% !important;
    height: auto;
    background-color: $colorfondomain;

    #contenedor__titulo{
        background-color: $colorfondotitulo;
        align-self: center;
        height: 135px;
        display: flex;
        margin-left: -1% !important;
        margin-top: 2% !important;
        h1{
            align-self: center;
            font-size: 65px;
            color: $colorletras100;
            padding-left: 5% !important;
        }
    }

    margin-left: 2.5% !important;

    .contenedor__dealbumes{
        margin-top: 2% !important;
    
        .contenedor__album{
            margin-top: 2.5% !important;
            height: 300px;
            background-color: $colorfondotitulo;
            display: flex;
            .contenedor__imagen {
                width: 300px;
                height: 245px;
                align-self: center;
                margin-left: 2% !important;
                transition: transform 0.4s ease, background-color 0.3s ease;
            }
            .contenedor__imagen:hover {
                transform: scale(1.9);
            }
            
            .contenedor__imagen:hover {
                transform: scale(1.1);
            }
            
            .contenedor__imagen img {
                width: 100%;
                height: 100%;
            }
            
            .contenedor__imagen img:hover {
                opacity: 90%;
            }
            .contenedor__infoodisea{  
                display: block;
                width: 33%;
                margin-left: 2% !important;
                margin-top: 1% !important;
                .contenedor__tituloodisea{
                    h1{
                        font-size: 50px !important;
                        color: $colorletras100;
                        font-weight: bold;
                    }
                }

                .lineaentrecancionoyentes{
                    width: 200px !important;
                }


                .contenedor__cancionesinfo{
                    margin-top: 1% !important   ;
                    color: $colorletras50;
                    h1{
                        font-weight: 400;
                        font-size: 20px !important;
                    }
                }

                .contenedor__oyentes{
                    margin-top: 0.8% !important   ;
                    color: $colorletras50;
                    h1{
                        font-weight: 400;
                        font-size: 20px !important;
                
                    }
                }

                .contenedor__oyentesnumero1{
                    display: flex;
                    margin-top: 1.5% !important   ;
                    .imagten__contenedor__oyentesnumero1{
                        width: 40px;
                        height: 40px;
                    }

                    h1{
                        margin-left: 2% !important;
                        align-self: center;
                        font-weight: bold;
                        font-size: 25px !important;
                        color: $colorletras50;
                    }
                }



            }



            .contenedor__infoartista{
                display: flex;
                .imagenlineavertical{
                    height: 250px;
                    align-self: center;
                    
                }
                .contenedor__imagentituloartista{
                    display: block;
                    align-self: center;
                    margin-left: 10% !important;
                    .contenedor__imagenartista {
                        @include medidasFotos(185px, 185px); 
                        justify-items: center;
                        display: grid;
                        transition: transform 0.3s ease;
                    
                        &:hover {
                            transform: scale(1.2); 
                        }
                        
                        img{
                            @include medidasFotos( 100%, 100%);
                        }

                        img:hover{
                            opacity: 90%;
                        }
                    }
                    
                    .contenedor__tituloartistas{
                        color: $colorletras100;
                        justify-items: center;
                        margin-top: 9% !important;
                    }
                }

                .contenedor__infoartistadetalles{
                    
                    font-size: 20px;
                    align-self: center;
                    margin-top: -10% !important;
                    color: $colorletras50;
                    margin-left: 8% !important;
                    width: 400px;
                    .imgcontenedor__infoartistadetalles{
                        width: 270px !important;
                        margin-left: -1% !important;
                    }
                }

            }
            /*prueba de comits*/
            
            .contenedor__imagenplay {
                display: flex;
                @include medidasFotos(4%, 16%);
                margin-top: 16% !important;
                margin-right: 2% !important;
            
                .imagenplayalbum {
                    @include medidasFotos(100%, 100%);
                    transition: filter 0.3s ease; /* Suaviza el cambio de color */
                }
            
                .imagenplayalbum.clickeada {
                    filter: brightness(0) saturate(100%) hue-rotate(90deg); /* Aplica verde */
                }
            }
            

        }





        
    }
}