*{
    margin: 0;
    padding: 0;
}

@mixin medidasFotos($ancho, $alto){
    height: $alto;
    width: $ancho;
}




$colorfondomain: #081925;
$colorfondotitulo: #0B161C;
$colorletras100: white;
$colorletras50: rgb(124, 124, 124);

#main{
    
    height: auto;
    background-color: $colorfondomain;

    #contenedor__titulo{
        background-color: $colorfondotitulo;
        align-self: center;
        height: 135px;
        display: flex;
        h1{
            align-self: center;
            font-size: 65px;
            color: $colorletras100;
            padding-left: 5% !important;
        }
    }


    .contenedor__dealbumes{
        margin-top: 2.5% !important;
        
        .contenedor__album{
            margin-top: 2.5% !important;
            height: 300px;
            background-color: $colorfondotitulo;
            display: flex;
            .contenedor__imagen{
                @include medidasFotos( 245px, 245px);
                align-self: center;
                margin-left: 2% !important;
                img{
                    @include medidasFotos( 100%, 100%);
                }
            }
            .contenedor__infoodisea{  
                display: block;
                width: 33%;
                margin-left: 2% !important;
                margin-top: 1% !important;
                .contenedor__tituloodisea{
                    h1{
                        font-size: 60px;
                        color: $colorletras100;
                        font-weight: bold;
                    }
                }

                .contenedor__cancionesinfo{
                    margin-top: 1% !important   ;
                    color: $colorletras50;
                    h1{
                        font-weight: 400;
                        font-size: 30px !important;
                    }
                }

                .contenedor__oyentes{
                    margin-top: 0.8% !important   ;
                    color: $colorletras50;
                    h1{
                        font-weight: 400;
                        font-size: 30px !important;
                
                    }
                }

                .contenedor__oyentesnumero1{
                    display: flex;
                    margin-top: 1.5% !important   ;
                    .imagten__contenedor__oyentesnumero1{
                        width: 55px;
                        height: 55px;
                    }

                    h1{
                        margin-left: 2% !important;
                        align-self: center;
                        font-weight: bold;
                        font-size: 35px !important;
                        color: $colorletras50;
                    }
                }



            }



            .contenedor__infoartista{
                display: flex;
                .imagenlineavertical{
                    height: 250px;
                    align-self: center;
                    
                }
                .contenedor__imagentituloartista{
                    display: block;
                    align-self: center;
                    margin-left: 10% !important;
                    .contenedor__imagenartista{
                        @include medidasFotos( 185px, 185px);
                        justify-items: center;
                        img{
                            @include medidasFotos( 100%, 100%);
                        }
                    }
                    
                    .contenedor__tituloartistas{
                        color: $colorletras100;
                        justify-items: center;
                    }
                }

                .contenedor__infoartistadetalles{
                    
                    font-size: 20px;
                    align-self: center;
                    margin-top: -10% !important;
                    color: $colorletras50;
                    margin-left: 8% !important;
                }

            }
            
            
            .contenedor__imagenplay{
                display: flex;
                @include medidasFotos( 60px, 60px);
                margin-top: 13% !important;
                margin-left: 13% !important;
                .imagenplayalbum{
                    @include medidasFotos( 100%, 100%);
                }

                

            }

        }





        
    }
}