
@mixin medidasFotos($ancho, $alto){
    height: $alto;
    width: $ancho;
}
*{
    margin: 0 !important;
    padding: 0 !important;
}

body{
    background-color: #081925 !important;
    width: 100%;
    .banner{
        height: 400px !important;
        display: flex;
        justify-content: center;
        margin-top: 70px !important;
        img{
            height: 100%;
            width: 30%;
            
        }
    }
    .titulo{
        margin-top: 70px !important;
        color: white;
        h1{
            width: 40%;
            margin-left: 15% !important;
        }
    }
    
}