/*MIXIN*/
@mixin medidasFotos($ancho, $alto){
    height: $alto;
    width: $ancho;
}

/*Variables*/
$colorTitulo: red;
$borderTitulo: solid 2px aqua;




footer{
    padding: 20px;
    position: relative;
    margin-top: 5% !important;
    background-color: white;
    #primerafila{
        @include medidasFotos( 100%, 200px);
        display: flex;
        #timemusic__contenedor{
            padding-top: 1.5% !important;
            margin-left: 2.5% !important;
        }

        #redessociales{
            display: flex;
            padding-top: 0.6%;
            @include medidasFotos( 30%, 34px);
            margin-left: -5% !important;

            .imagenesredes{
                background-color: none;
                margin-left: 20% !important;
                margin-right: 20% !important;
                img{
                    @include medidasFotos( 38px, 38px)
                }
            }
        }
        #imagenlogotime{
            padding-left: 67% !important;
            padding-top: 1%;
            @include medidasFotos( 140px, 140px);
            img{
                @include medidasFotos( 140px, 140px);
            }
        }


    }
    
    #segundafila{
        @include medidasFotos( 90%, 80px);
        padding-left: 18% !important;
        display: flex;
        justify-content: center;
        .terminosycondiciones{
            @include medidasFotos( 20%, 30px);
        }

        a{
            text-decoration: none;
            color: black;
        }
    }

    #tercerafila{
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-self: center;
        p{
            margin-top: 1%;
        }
    }

}