header {
    background-color: rgb(37, 37, 37) !important;
    padding: 10px 20px !important;

    .img-container {
        height: 50px !important;
        overflow: hidden !important;
        transition: transform 0.3s ease !important;

        img {
            height: 100% !important;
            width: auto !important;
            transition: transform 0.3s ease !important;
        }

        &:hover {
            transform: scale(1.1) !important;
        }
    }

    #cont-buscador {
        flex-grow: 1 !important;
        margin: 0 20px !important;

        #searchInput {
            padding: 5px !important;
            border-radius: 4px !important;
            background-color: #5d5d5d !important;
            
        }
    }

    #cont-avatar {
        position: relative !important;

        #avatar {
            height: 50px !important;
            cursor: pointer !important;
        }

        .dropdown-menu {
            background-color: #fff !important;
        }

        .dropdown-item {
            color: #000 !important;

            &:hover {
                background-color: #f0f0f0 !important;
            }
        }
    }
}
