*{
    margin: 0;
    padding: 0;
}

@mixin medidasFotos($ancho, $alto){
    height: $alto;
    width: $ancho;
}

$colorfondoheaderymain: #0B161C;





.header{
    background-color: $colorfondoheaderymain;
    height: 80px;
    img{
        padding-top: 10px !important;
        padding-left: 10px !important;
        @include medidasFotos( 60px, 60px);
    }
}

.titulo__contenedor{
    display: flex !important;
    justify-content: center;
    margin-top: 2% !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    div{

        display: flex;
        width: 850px;
        
        img{
            height: 130px;
            margin-right: 4% !important;
            width: 3px;
            align-self: center;
        }
        h1{
            align-self: center;
            font-size: 80px;
            color: white;
            font-weight: bold !important;
        }
    }
}


main{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2% !important;
    display: flex !important;
    justify-content: center !important;

    .contenedor__inicio{
        border: solid white 1px;
        background-color: $colorfondoheaderymain !important;
        height: 1500px !important;
        width:  853px !important;
        display: block;
        justify-content: center;
        
            .titulodatos{
                color: white;
                font-size: 65px;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin-top: 2% !important;
                font-weight: 400 ;
                display: flex;
                justify-content: center;
            }



            .contenedor__repuestascorreo{
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                
                .contenedor__titulocorreonombre{
                    
                    margin-left: 170px !important;
                    margin-top: 4% !important;
                    color: white;
                    font-size: 15px;
                    font-weight: 100px;
                    h2{
                        font-weight: 10 !important;
                    }
                }


                .contenedor__123{
                    margin-top: 2% !important;
                    margin-left: 168px !important;
                    .contenedor__respuesta{
                        width: 500px;
                        height: 45px;
                        border-radius: 15px;
                        font-size: 20px;
                        border: white solid 1px;
                        background-color: #081925;
                        color: white;
                         
                    }
                }
            }

            .continuar__contenedor{
                height: 80px;
                display: flex;
                justify-content: center;
                width: 350px !important;
                margin-left: 250px !important;
                border-radius: 25px !important;
                border: solid white 1px !important;
                margin-top: 4% !important;
                background-color: #081925;

                h2{
                    color: white;
                    font-size: 40px !important;
                    align-self: center;
                    font-weight: 500;
                }
    
            }


                .recuperar__contenedor{
                    margin-top: 3% !important;
                    margin-left: 245px !important;
                    color: rgb(122, 122, 122);
                    font-size: 15px;
                    .olvidaste{
                        text-decoration: none;
                        font-weight: 300 !important;
                        margin-top: 2% !important;
                        a{
                            text-decoration: none;
                            color: white;
                            opacity: 100%;
                        }
                    }

                
                }


        .plataformas{
            margin-top: 10% !important;
            margin-left: 170px !important;
            color: white;
            font-size: 30px;
            h1{

            }

            p{
                margin-top: 20px !important;
            }

            img{
                margin-top: -3 0px;
                width: 550px !important;
            }

            
        }















        }
        

}