body{
    background-color: #202020;
    .seccines{
        position: fixed;
        top: 0;         
        left: 0;        
        width: 100%;    
        padding: 10px;  
        z-index: 1000;  

    
    }
}