body{
    background-color: #202020;
    .secciones{
        height: calc(100vh - 60px);
        position: static;            
        overflow-y: auto; 

    
    }
    .meGustas{
        padding-top: 20px;
        .fotosMeGustas{
        border: 2px solid white;
        width: 100%;
        padding-top: 30px;
        height: 200px;
        .fotos{
            width: 20%;
            height: 100%;
        }
        .audio-circulo {
            width: 100px;           
            height: 100px;          
          }
        }
    }
}