/* SASS */
$colorFondo: #202020;
$colorBlack: #000000;
$colorLetra: white;
$colorBoton-continuar: #D9D9D9;
$colorBotones: #FFFFFF;


@mixin  medidas  ($ancho , $alto ){ 
    height: $alto;
    width: $ancho;
}

/* SASS */

/* HEADER */
#cont-header{
    @include medidas(100%, 50px);
    background-color: $colorBlack;  
}
#cont-logo__casa-{
    background-color: $colorFondo;
    border-radius: 100%;
    @include medidas(40px, 40px);
    margin-left: 2%;
    margin-top: 0.3%;
}
#foto-logo__casa-{
    margin-top: 10%;
    margin-left: 10%;
}
/* HEADER */

/* MAIN */
#main{
    background-color: $colorFondo;
    @include medidas(100%, 700px);
    margin-left: 3%;
    margin: 0;
    padding: 0;
}
#cont-titulo{
    margin-left: 2%;
    padding-top: 2%;
}
#titulo{
    color: $colorLetra;
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
}

#formulario{
    color: $colorLetra;
    margin-left: 2%;
    margin-top: 1%;
}

#boton-continuar{
    background-color: $colorBoton-continuar;
    color: black;
    @include medidas(60%, 50px);
    margin-left: 0%;
    font-size: 25px;
    margin-top: 1%;
    border: none;
    transition: transform 0.5s ease; /* Transición suave cuando cambia el tamaño */
}
#boton-continuar:hover {
    transform: scale(1.05); /* Agranda el contenedor a un 120% de su tamaño original */
  }





.col-lg-2{
    margin-top: 4%;
    margin-left: 1%;
}

#boton-link__continuar{
    color: $colorBlack;
    
}

#boton-link__inicieSesion{
    color: $colorBotones;
}

#cont-gif-registro{
    @include medidas(85%, 61%);
    
    background-color: white;
}

#logo-timeMusic{
    @include medidas(100%, 100%);
    padding-left: 8%;
    padding-right: 8%;
}





/* MAIN */

#footer{
    background-color: $colorBotones;
    @include medidas(100%, 200px);
    margin: 0;
    padding: 0;
}





